# Environment variables
.env
.env.*
!.env.example
epoxy-store/.env.*
epoxy-store.env
epoxy-store-backend/.env
epoxy-store-backend/.env.*

# Node modules
/node_modules
/epoxy-store/node_modules
/epoxy-store-backend/node_modules

# macOS
.DS_Store

# Build output
/dist
/epoxy-store/dist
build/


# VSCode
.vscode/ 


