/*=============== VARIABLES ===============*/
:root {

  /*========== Colors ==========*/
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --body-color: #f9f9f9;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .8rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
}

/*=============== HEADER & NAV ===============*/
.header1 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--container-color);
  box-shadow: 0 2px 16px rgba(0,0,0,0.1);
  z-index: var(--z-fixed);
  backdrop-filter: blur(10px);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav__logo {
  color: var(--text-color);
  font-weight: var(--font-bold);
  font-size: 2rem;
  transition: color 0.3s;
  text-decoration: none;
}

.ri-shopping-cart-line {
  font-size: 2rem;
}

.nav__logo:hover {
  color: #666;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    width: 280px;
    background-color: var(--container-color);
    top: 0;
    right: -100%;
    box-shadow: -2px 0 32px rgba(0, 0, 0, .2);
    height: 100vh;
    padding: 6rem 2rem 2rem;
    transition: right .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-medium);
  font-size: 1.5rem;
  transition: color 0.3s;
  text-decoration: none;
}

.nav__link:hover {
  color: #666;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  color: var(--text-color);
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Dropdown */
.dropdown__button {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  transition: transform .4s;
}

.dropdown__menu {
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: var(--container-color);
  box-shadow: 0 6px 32px rgba(0, 0, 0, .1);
  padding: 1rem 1.25rem;
  border-radius: 1rem;
  display: grid;
  row-gap: .75rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
  list-style: none;
}

.dropdown__item {
  display: flex;
  align-items: center;
  column-gap: .75rem;
  margin: 0;
}

.dropdown__link {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}

.dropdown__link:hover {
  color: #666;
}

/* Show dropdown menu */
.dropdown {
  position: relative;
}

.dropdown:hover .dropdown__menu {
  opacity: 1;
  visibility: visible;
}

.dropdown:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/* Change position for dropdown menu when menu is active */
@media screen and (max-width: 968px) {
  .dropdown__menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
  }

  .dropdown__item {
    padding: 0.5rem 1rem 0.75rem 2.5rem;
    opacity: 0;
    transform: translateY((-10px));
    transition: all 0.3 ease-out;
  }

  .dropdown-active .dropdown__item {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in;
  }

  .dropdown-active .dropdown__menu  {
    opacity: 1;
    visibility: visible;
    max-height: 300px;
    transition: all 0.3s ease-in;
  }

  .dropdown-active .dropdown__arrow {
    transform: rotate(180deg);
  }

  .ri-arrow-down-s-line {
    display: inline-flex;
    align-items: center;
  }

  .nav__close {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*=============== BREAKPOINTS ===============*/
/* Show menu on desktop */
@media screen and (min-width: 969px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
    align-items: center;
  }

  .nav__item {
    margin: 0;
  }

  .dropdown__menu {
    min-width: 180px;
    left: -3rem;
    top: 120%;
  }

  .dropdown:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  .dropdown__link {
    display: block;
    padding: 0.5rem 0;
  }
}