.hero {
    position: relative;
    width: 100%;
    height: 60vh;
    background: url('/epoxySto1.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(149, 143, 143);
    text-align: center;
}

.hero-content {
    position: relative;
}

.hero h1 {
    font-size: 4rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.hero button {
    padding: 1rem 2rem;
    margin:2%;
    font-size: 1rem;
    color: white;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #444;
}